{% extends 'article-base.html' %}
{% block article_content %}


    <!-- Blog Post -->

    <!-- Title -->
    <h1>{{article.title}}</h1>     


    <!-- Author -->
    <p class="lead">
        by <a href="#">{{article.author.name}}</a>

    </p>
    {% if user == article.author.user %}
        <a href="edit"><p><span class="glyphicon glyphicon-edit"></span> Edit</p></a>
    {% endif %}


    <hr>

    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{article.date}}</p>

    <hr>

    <!-- Preview Image -->
    <!-- <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->

    <hr>

    <!-- Post Content -->
    <div>
    	{{article.content|safe}}
    </div>

    <hr>

    <!-- Blog Comments -->

    <!-- Comments Form -->
    <div class="well">
        <h4>Leave a Comment:</h4>
        <form method="post" role="form" action="/article/{{article.id}}/articlecomment">
            <div class="form-group">
                {% csrf_token %}
                <textarea class="form-control" name="content" rows="3"></textarea>
            </div>
            <input type="submit" name="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>


    <hr>

    <!-- Posted Comments -->

    <!-- Comment -->

    {% for comment in comments %}
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{% if comment.author %} {{comment.author.name}} {% else %} unknown {% endif%}
                    <small>{{comment.date}}<a class="open-reply" comment-content="{{comment.content}}" comment-date="{{comment.date}}" comment-author="{{comment.author.name}}" data-toggle="modal" data-target="#comment-modal"> Reply </a></small>
                </h4>
                {{comment.content}}
            </div>
        </div>
    {% endfor %}
    
<div id="reply-dialog" title="Reply this comment">
    {# This is reply div #}
</div>

<div id="comment-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="media-body">
                <h4 id="modal-media-heading"></h4>
                <small class="pull-right" id="modal-media-date"></small>
                <p id="modal-media-content"></p>

            </div>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}
