{% extends 'article-base.html' %}
{% block article_content %}

{% for article in articles %}
    <div class="col-md-12">
	<h3><a href='{%url 'article' article.id %}'>{{article.title}}</a></h3>
	{% if user == article.author.user %}
	    <a href="/article/{{article.id}}/edit" class="pull-right"><span class="glyphicon glyphicon-edit"></span>Edit</a>
	{% endif %}
	<span class='glyphicon glyphicon-user'></span> {{article.author.username}} | 
	<span class='glyphicon glyphicon-time'></span> {{article.date}} 
	<br/>
        <p>{{article.abstract}}</p>
                
    <hr/>
    </div>
{% endfor%}

{% endblock %}
