{% extends 'base.html' %}
{% block body_block %}
<div class="important">
目前只支援Latex排版，使用引擎為xelatex，為避免系統出錯，請加入以下兩個package : <br/>
<b>
  \usepackage[utf8]{inputenc}<br/>
  \usepackage{xeCJK}
</b>
<br/>
PDF 檔名一律使用英文,要不然會爆炸^^
</div>
{% block form_block %}{% endblock %}
  <form action="https://www.overleaf.com/docs?engine=xelatex" method="post" target="_blank">
  <textarea id="snip" style="display:none;" name="snip" rows="10" cols="60">
  </textarea>
  <button type="submit" class="btn btn-default">Open in Overleaf</button>
  <p class="important">[注意] 這只是在Overleaf預覽,一切在Overleaf上的變更不會被儲存</p>
  </form> 
<script>
    $("#snip").text($("#contentLtx").val());
    $("#contentLtx").change(function() {
        $("#snip").text($("#contentLtx").val());
    });
</script>
{% endblock %}
