{% extends 'admin/editArticleBase.html' %}
{% block form_block %}
  {% if currentArticle %}
    <form id = "article_form" method="post" action="/article/{{currentArticle.id}}/edit" enctype="multipart/form-data">
  {% else %}
    <form id = "article_form" method="post" action="/newarticle" enctype="multipart/form-data">
  {% endif %}
  {% csrf_token %}
  <div>
    <label for="title">Title</label>
    <input id="title" type="text" name="title" maxlength="128" value="{{currentArticle.title}}">
  <br/>
    <label for="title">PDF :
  {% if currentArticle.pdf %}<a href='{{currentArticle.pdf.url}}'> Current PDF</a>{% endif %}
    </label>  
  <input id="pdf" type="file" name="pdf">
  <p><label for="abstract">Abstract : </label></p>
  <textarea id="newAbstract" type="text" name="abstract" cols ="100" rows="10">{{currentArticle.abstract}} </textarea>
  <br/>
  <p><label for='contentLtx'>Content : </label></p>
  <textarea id="contentLtx" type="text" name="contentLtx" cols ="100" rows="30">
  {% if currentArticle %}
    {{currentArticle.contentLtx}}
  {% else %}
    \documentclass[a4paper]{article}
    \usepackage[utf8]{inputenc}
    \usepackage{xeCJK}
    \begin{document}
    \end{document}
  {% endif %}
  </textarea>
  <br/>
  <button type="submit" class="btn btn-default">Save</button>
  </div>
  </form>
{% endblock %}
