<!DOCTYPE HTML>
<html>
<head>
    {% load static %}

    <title>{% block title_block %}CPGE TW{% endblock %}</title>

    {# <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"> #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="{% static "css/modern-business.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link href="{% static "css/blog-post.css" %}" rel="stylesheet">
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- Bootstrap Core JavaScript -->
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/functions.js" %}"></script>
    <script src="{% static "js/tinymce/tinymce.min.js" %}"></script>
    <script src="{% static "js/functions.js" %}"></script>
    {{ form.media }}
    <script>
    tinymce.init({
        selector: '#mytextarea'
    });
    </script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">CPGE</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="/articlelist">Articles</a>
                    </li>
                    <li>
                        <a href="/questionlist">Q & A</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width.html">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                {% if user.is_authenticated%}
                    <li>
                        <a href="#"><span>{{ user.username }}</span></a>
                    </li>
                {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    
        {% block photo_block %}{% endblock %}

    <!-- Page Content -->
    <div class="container">

        {% block body_block %}{% endblock %}
<!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <span>Copyright &copy; Your Website 2014</span>
                        {% if user.is_authenticated %}
                            <a href="/logout"><span class ="glyphicon glyphicon-log-out"></span></a>
                        {% else %}
                            <a id="login-btn" href="#"><span class ="glyphicon glyphicon-log-in"></span></a>
                        {% endif%}
                    </center>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    
<div id="dialog" class="login-dialog" title="Log In">
    <form id="login_form" action="/login/" method="post">
        {% csrf_token %}
        <p> User: </p>
        <input id="username" name="username" type="text">
        <br/>
        <p> Password: </p>
        <input id="password" name="password" type="password">
        <br/>
        <input type="submit" value="Log In">
    </form>
</div>


<script>
    var loginMsg = "{{loginMsg}}";
    if (loginMsg != "") {
        alert(loginMsg);
        window.location = "/";
        $("dialog").dialog(open);
    }
</script>


</body>
</html>
